<launch>

  <arg name="numDisparities" default="2"/>
  <arg name="blockSize" default="8"/>

  <arg name="home_dir" default="/home/appinho"/>

  <arg name="scenario" default="0059"/>

  <node pkg="rosbag" type="play" name="player" args="-r 0.1 -d 2 $(arg home_dir)/kitti_data/$(arg scenario)/synchronized_data.bag"/>

  <node pkg="stereo_image" type="stereo" name="stereo" output="screen">
    <param name="numDisparities" value="$(arg numDisparities)"/>
    <param name="blockSize" value="$(arg blockSize)"/>
  </node>
  
  <include file="$(find stereo_image)/launch/tools.launch"/>
  
  <node pkg="rviz" type="rviz" name="my_rviz"
  args="-d $(find stereo_image)cfg/stereo.rviz"/>  
  
</launch>
